* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.error{
    color: red;
}
.start-square{
    background: lightcyan
}

.end-square{
    background: lightcoral
}
.visited{
    background: orange
}
.path{
    background: lightgreen
}
.block{
    background: brown
}