* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    
}
.main{
    height: 100vh;
    background: #121212;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.left-column{
    padding: 1rem;
}
.right-column{
    display:flex;
    justify-content: center;
    padding-top: 2rem;
}
button{
    background: #404040;
    color: whitesmoke;
    padding: 5px;
    cursor: pointer;
}
.inputs-main{
    background: #282828;
    border-radius: 8px;
    padding: 1rem;
}
.inputs-main input{
    color: black;
}
.buttons-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #282828;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 0.5rem;
}

.button-active{
    background: whitesmoke;
    color:black;
}
.error{
    color: red;
}
.start-square{
    background: lightcyan
}

.end-square{
    background: lightcoral
}
.visited{
    background: orange
}
.path{
    background: lightgreen
}
.block{
    background: brown
}